* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 10px;
    width: 500px;
    margin: 50px auto;
    border: 2px solid black;
}

.box {
    padding: 50px;
    text-align: center;
    border: 2px solid black;
}



#box1 {
    background-color: lightblue;
}

#box2 {
    background-color: lightgreen;
}

#box3 {
    background-color: pink;
}

#box4 {
    background-color: orange;
}