     * {
         margin: 0;
         padding: 0;
         box-sizing: border-box;
     }
     
     .container {
         height: 800px;
         width: 800px;
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         gap: 10px;
         border: 2px solid black;
         margin: 20px auto;
         padding: 10px;
     }
     
     .box {
         padding: 20px;
         text-align: center;
         border: 1px solid #ccc;
         gap: 20px;
     }
     
     #box-1 {
         grid-column: 1 /3;
         background-color: rgb(248, 233, 68);
     }
     
     #box-2 {
         background-color: rgb(0, 177, 194);
     }
     
     #box-3 {
         background-color: rgb(0, 194, 177);
     }
     
     #box-4 {
         grid-column: 2/-1;
         grid-row: 2/4;
         background-color: rgb(222, 104, 212);
     }
     
     #box-5 {
         grid-row: 3/5;
         background-color: rgb(248, 233, 68);
     }
     
     #box-6,
     #box-7,
     #box-8,
     #box-9,
     #box-10 {
         background-color: rgb(0, 194, 177);
     }