*{
background-color:antiquewhite;
box-sizing: border-box;

}
.container{
  height: 500px;
  width: 500px;
  background-color: burlywood;
  margin: 100px;
  border: 2px solid black;
  border-style: dashed;
  padding: 100px;
   
}

.box {
  height: 100px;
  width: 100px;
  background-color: chocolate;
  border: 2px dotted gray;
  padding: 20px;
  margin: 50px;
}